<form method="post" action="/puppy">
  <div>
      <label for="name"> Puppy Name</label>
      <input type="text" id="name" name="name">
  </div>
  <div>
      <label for="breed"> Puppy Breed</label>
      <input type="text" id="breed" name="breed">
  </div>
  <div>
      <label for="age"> Puppy Age</label>
      <input type="text" id="age" name="age">
  </div>
  <input type="submit" value="submit">
</form>
